$mainColor: #8A0000;
$mainHoverColor: #680000;
$secondaryColor: #0B7C09;
$secondaryHover: #085e07;
$accentColor1: #EBEBEB;
$accentColor2: #E0E0E0;

$colorDark: #0c0c0c;
$colorDarkHover: #292929;
$colorBright: #ebebeb;
$colorBrightHover: #d3d3d3;

$colorError: #FF0000;
$colorSuccess: #FFC800;
