$mainColorRed: #8A0000;
$mainHoverColorRed: #680000;
$mainColorGreen: #0B7C09;
$mainHoverGreen: #085e07;
$accentColorGray1: #EBEBEB;
$accentColorGray2: #E0E0E0;

$colorBlack: #000000;
$colorWhite: #ffffff;

$colorError: #FF0000;
$colorSuccess: #FFC800;
