.left {
    float: left;
}

.right {
    float: right;
}

.row {
    width: 100%;
}

.rowGroup {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}
