.home {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;

    .textHomePage {
        background-color: hotpink;
        font-style: italic;
        display: flex;
        flex-flow: row wrap;
        width: 30%;


        .svg {
            background-color: rgb(0, 255, 64);
            display: flex;
            margin-left: 5rem;
            padding-top: -20rem;

        }


        h1 {

            background-color: khaki;
            font-size: 2rem;

        }



        p {
            background-color: lightblue;
            font-size: 1rem;
            font-weight: bold;
            text-align: left;

        }



    }

}