@import "./colors.scss";
@import "./fonts.scss";

.home {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    background-image: url("../images/pizza-logo.png");

    .textHomePage {
        display: flex;
        flex-flow: row wrap;
        width: 40%;
        align-items: baseline;

        h1 {
            font-size: 2rem;
            text-align: center;
            font-family: "Trirong", serif;
            color:#884546;
            text-shadow: 1px 1px 2px #000000;
            

        }

        p {
        
            font-size: 1rem;
            font-family: 'Imbue', serif;
            font-style: italic;
            
            
        }



    }

}