.homePage{
 
    display: flex;
    flex-flow: row wrap;
    height: 100vh;
    width: 100%;
   
    
    svg{
        display: flex;
        margin-left: 10rem;
        padding-top: -20rem;
        
    }
     
    h1{
        background-color: red;
        font-size: 2rem;
        margin-left: 25rem;

    }
          
    p{
        
        font-size: 1rem;
        margin: 0px;
        padding: 16px;
        width: 28rem;
        margin-left: 25rem;
        display: flex;  
        flex-flow: row wrap;
        font-weight: bold;
        text-align: left;

    }
}






