@import "./colors.scss";
@import "./fonts.scss";

.login{
    
    display: flex;
    width: 690px;
    height: 400px;
    overflow: hidden;
    
    
    

    .errors{
        
        color: firebrick;
        margin-left: 7rem;
        margin-top: 12px;
         
    }
    form{
        
        margin-left: 12rem;
        margin-top: 2rem;
        height: 20rem;
        
    }


    label{
        display: block;
        width: 90px;
        height: 30;
        margin-left: 6rem;
        font-size: 25px;
          
    }

    .Field{

        background-color: rgb(218, 212, 221);
        border-radius: 10px;
        width: 300px;
        height: 30px;
        padding: 6px ;
        margin-top: 10px;
        border: none;

        
    }

    
    button{
         display: flex;
        background-color: #4CAF50; /* Green */
        color: rgb(248, 244, 244);
        text-align: center;
        text-decoration: none;       
        font-size: 16px;
        margin-top: 2rem ;
        margin-left: 4rem;
        border-radius: 10px;
        border: none;
        width: 12rem;
        padding: 20px 69px ;
        font-weight: bold;
        cursor: pointer;
        
     
    }
    button:hover {
        box-shadow: 0 12px 16px 0 
        rgba(0,0,0,0.24),0 17px 50px 0 
        rgba(0,0,0,0.19);
      }
}