@import "./colors.scss";
@import "./fonts.scss";

.mainNav {
    background-color: $mainColor;
    height: 5rem;
    top: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    z-index: 100;

    .rightGroup {
        display: flex;
    }

    .cart {
        height: 2rem;
        width: 2rem;
        margin: 24px;
        cursor: pointer;
    }

    .logo {
        
        height: 50px;
        width: 50px;
        margin: 15px;
       

    }
}

.hamburgerMenu {
    margin: auto 24px;
    right: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 2rem;
    height: 2rem;
    background: transparent;
    border: none;
    cursor: pointer;
    padding: 0;
    z-index: 10;

    &:focus {
        outline: none;
    }

    div {
        width: 2rem;
        height: 0.25rem;
        border-radius: 10px;
        transition: all 0.3s linear;
        position: relative;
        transform-origin: 1px;
        background-color: $colorBright;
    }
}

.navMenu {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    background: $colorBright;
    height: 100vh;
    text-align: right;
    padding: 3rem;
    position: absolute;
    top: 0;
    right: 0;
    transition: transform 0.3s ease-in-out;

    @media (max-width: 576px) {
        font-size: 1.5rem;
        text-align: center;

        img {
            height: 20px;
            width: 20px;
        }
    }

    &:hover {
        color: $colorBrightHover;
    }

    a {
        font-family: $nav-font;
        text-transform: uppercase;
        font-weight: bold;
        font-size: 24px;
        text-decoration: none;
        margin: 20px 0;
        color: $colorDark;
    }

    .topMenu {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .bottomMenu {
        display: flex;
        flex-direction: row;
        justify-content: space-between;

        a {
            font-family: $nav-font;
            text-transform: uppercase;
            font-weight: bold;
            font-size: 12px;
            text-decoration: none;
            margin: 20px 0;
            color: $colorDark;
        }
    }
}

