@import "./colors.scss";
@import "./fonts.scss";

.mainNav {
    background-color: $mainColor;
    height: 5rem;
    top: 0;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    z-index: 100;
    
}

.hamburgerMenu {
    margin: auto 24px;
    right: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 2rem;
    height: 2rem;
    background: transparent;
    border: none;
    cursor: pointer;
    padding: 0;
    z-index: 10;

    &:focus {
        outline: none;
    }

    div {
        width: 2rem;
        height: 0.25rem;
        border-radius: 10px;
        transition: all 0.3s linear;
        position: relative;
        transform-origin: 1px;
        background-color: $colorBright;
    }
}

.navMenu {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background: $colorBright;
    height: 100vh;
    text-align: right;
    padding: 2rem;
    position: absolute;
    bottom: 0;
    right: 0;
    transition: transform 0.3s ease-in-out;

    @media (max-width: 576px) {
        font-size: 1.5rem;
        text-align: center;
    }

    &:hover {
        color: $colorBrightHover;
    }
        a{
            background-color: $mainColor;
            font-size:20px ;
            margin-top: 20px;
            color: $accentColor2;
            text-decoration: none;
            border-radius: 8px;
            width: 150px;
            height: 25px;
            min-width: 40px;
            text-align: center;
            font-style: italic;
            
            &:hover {
                color: $mainHoverColor;
                background-color: $accentColor1;
            }
            
            
        }


}