.publicNav {
    display: inline;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;

    li {
        float: left;
        a {
            display: block;
            text-align: center;
            padding: 14px 16px;
            text-decoration: none;
        }
    }

    a {
        display: block;
        padding: 8px;
    }
}

.adminNav {
    display: inline;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;

    li {
        float: right;
        a {
            display: block;
            text-align: center;
            padding: 14px 16px;
            text-decoration: none;
        }
    }

    a {
        display: block;
        padding: 8px;
    }
}