@use "navbar";
@use 'grid';
@use 'button';
@use "footer";
@use "userPage";
@use 'homepage';
@use 'addpizzapage';
@use'login';
@use 'registerPage';
@import "./colors.scss";
@import "./fonts.scss";


html, body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

.container {
    align-items: center;
    display: flex;
    height: 100vh;
    text-rendering: optimizeLegibility;
    justify-content: center;
}
