@use "navbar";
@use 'grid';
@use 'button';
@use "footer";
@import "./colors.scss";
@import "./fonts.scss";


html, body {
    margin: 0;
    padding: 0;
}

.container {
    align-items: center;
    background: $colorWhite;
    display: flex;
    height: 100vh;
    text-rendering: optimizeLegibility;
    justify-content: center;
}
