@import "./colors.scss";
@import "./fonts.scss";

.userpage{


    display: flex;
    width: 690px;
    height: 500px;
    border-radius: 20px;
    overflow: hidden;
   
    padding: 11px;
    
    .errors{

        color: red;
        padding-left:85px ;

    }

    form{

       
        display: flex;
        height: 30rem;
        width: 0rem;
        margin-top: -18px;
    .div1{
        
      
        box-sizing: content-box;
        border-radius: 20px;
        width: 290px;
        height: 390px;
     
        float: left;
        margin-top: 30px;
        
        label {
           
            font-style: italic;
            font-size: 15px ;
            color: rgb(15, 15, 15);
            padding-left:85px ;
            font-weight: bold;
            vertical-align: -11px;
        
            
        }
        .Field{
            background-color:$accentColor2;
            text-align: center;
            width: 280px;
            height:30px;
            margin-top: 20px;
            border-radius: 20px;
            border: none;
        
        }
    
    
    }

    .div2{
    
      
        box-sizing: content-box;
        border-radius: 20px;
        width: 290px;
        height: 390px;
        float: right;
        margin-top: 30px;

        label {
        
            font-style: italic;
            font-size: 15px ;
            padding-left:85px ;
            color: rgb(14, 12, 12);
            margin-top: 11px;
            font-weight: bold;
            line-height: 12px;
            vertical-align: -14px;
            
        
            
        }
        .Field{
            background-color: darkblue;
            background-color:$accentColor2;
            text-align: center;
            width: 280px;
            height:30px;
            margin-top: 20px;
            border-radius: 20px;
            border: none;
        }
        
        
    }

    button{
        display: flex;
        background-color: #4CAF50; /* Green */
        color: rgb(248, 244, 244);
        text-decoration: none;       
        font-size: 12px;
        margin-top: 31rem ;
        margin-left: -23rem;
        border-radius: 10px;
        width: 14rem;
        height: 3rem;
        padding: 10px 63px ;
        font-weight: bold;
        border: none;
        cursor: pointer;
    }
    button:hover {
        box-shadow: 0 12px 16px 0 
        rgba(0,0,0,0.24),0 17px 50px 0 
        rgba(0,0,0,0.19);
      }
    

}

}